<%= render 'nav' %> <!-- nav bar -->
<%= render 'show' %> <!-- show modal -->
<%= render 'uploadform' %> <!-- new modal-->
<%= render 'profile' %> <!-- edit profile modal-->
<%= render 'search' %> <!-- search for friends modal-->
<%= render 'friends' %> <!-- search for friends modal-->

<div class="container" id="myinfo-container">

</div>

<div class="container">
  <div class="grid"></div>
</div>
