<%= render 'nav' %> <!-- nav bar -->
<%= render 'show' %> <!-- show modal -->
<%= render 'uploadform' %> <!-- new modal-->
<%= render 'profile' %> <!-- edit profile modal-->
<%= render 'search' %> <!-- search for friends modal-->
<%= render 'friends' %> <!-- search for friends modal-->





<div class="container">

  <h1>User Profile</h1>
  <div class="user-profile">
    <img class="img-responsive" src="/photos/clouds-wallpaper-2.jpg">
  </div>

  <div class="grid"></div>
</div>
