<%= render 'nav' %> <!-- nav bar -->
<%= render 'show' %> <!-- show modal -->
<%= render 'uploadform' %> <!-- new modal-->
<%= render 'profile' %> <!-- edit profile modal-->
<%= render 'search' %> <!-- search for friends modal-->
<%= render 'friends' %> <!-- search for friends modal-->

<div id="user-background">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/49/e9/78/49e978f65b374a44c6e224d95482f2d8.jpg">
</div>

<div class="container" id="myinfo-container">

</div>

<div class="container">
  <div class="grid"></div>
</div>
