<%= render 'nav' %> <!-- nav bar -->
<%= render 'show' %> <!-- show modal -->
<%= render 'uploadform' %> <!-- new modal-->
<%= render 'profile' %> <!-- edit profile modal-->
<%= render 'search' %> <!-- search for friends modal-->
<%= render 'friends' %> <!-- search for friends modal-->

<div class="container" id="myinfo-container">

</div>

<div class="container-fluid filter-bar">
  <div class="btn-group filter" role="group" aria-label="...">
     <button type="button" class="btn btn-default" id="see-all-photos">Browse All</button>
     <button type="button" class="btn btn-default" id="see-my-uploads">My Uploads</button>
     <button type="button" class="btn btn-default" id="friend-btn">Add Friend</button>
  </div>
</div>


<div class="container-fluid">
  <div class="grid"></div>
</div>
